@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'HelveticaW01-Bold';
    src: URL('/Helvetica\ W01\ Bold/Helvetica W01 Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'helvetica-w02-bold';
    src: URL('/Helvetica\ W02\ Bold/Helvetica W02 Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'helvetica-lt-w10-bold';
    src: URL('/Helvetica\ LT\ W10\ Bold/Helvetica LT W10 Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaW01-Roman';
    src: URL('/Helvetica\ W01\ Roman/Helvetica W01 Roman.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaW02-Roman'; /* name of the font */
    src: url('HelveticaW02-Roman.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaW01-Roman';
    src: URL('/Helvetica\ W01\ Roman/Helvetica W01 Roman.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaLTW10-Roman';
    src: URL('/Helvetica\ LT\ W10\ Roman/Helvetica LT W10 Roman.ttf') format('truetype');
}

html{
    font-size: 18px;
}

*{
    font-family: "Source Sans Pro",sans-serif;
}

.fontMain{
    font-family: 'Oleo Script', cursive;
    font-weight: 900 !important;
}
/* font-family: 'Source Sans Pro', sans-serif; */


.sans{
    font: "Source Sans Pro",sans-serif;
}

.ubuntu{
    font-family: 'Ubuntu', sans-serif !important;
}


.classClose{
    max-height: 0px;
    overflow: hidden;
}
.classOpen{
    max-height: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.answer.open {
    max-height: 100px;
}